@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

.slidersWrapper {
    width: 100%;
    height: 100%;
    .sliders {
        display: flex;
        flex-flow: row nowrap;
        animation: slide 15s infinite ease-in-out;
        .slider {
            min-width: 100%;
        }
    }
}
